<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="uk.org.riseley.puttySessionManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <uk.org.riseley.puttySessionManager.Properties.Settings>
            <setting name="PuttyLocation" serializeAs="String">
                <value>C:\Program Files\PuTTY\putty.exe</value>
            </setting>
            <setting name="TransparencyEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TreeFont" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>264, 545</value>
            </setting>
            <setting name="TransparencyValueDouble" serializeAs="String">
                <value>0.99</value>
            </setting>
            <setting name="TransparencyValueInt" serializeAs="String">
                <value>99</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplayTree" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HotkeyNewEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HotkeyNewSession" serializeAs="String">
                <value>N</value>
            </setting>
            <setting name="HotkeyFavouriteEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FavouriteSession1" serializeAs="String">
                <value />
            </setting>
            <setting name="FavouriteSession2" serializeAs="String">
                <value />
            </setting>
            <setting name="FavouriteSession3" serializeAs="String">
                <value />
            </setting>
            <setting name="FavouriteSession4" serializeAs="String">
                <value />
            </setting>
            <setting name="FavouriteSession5" serializeAs="String">
                <value />
            </setting>
            <setting name="SubfolderSessionWarning" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MinimizeOnStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToolTipsEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HotkeyMinimizeEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HotkeyMinimize" serializeAs="String">
                <value>Q</value>
            </setting>
            <setting name="UpdateUrl" serializeAs="String">
                <value>http://puttysm.sourceforge.net/update.txt</value>
            </setting>
            <setting name="ProxyMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ProxyServer" serializeAs="String">
                <value />
            </setting>
            <setting name="ProxyPort" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultUpdateUrl" serializeAs="String">
                <value>http://puttysm.sourceforge.net/update.txt</value>
            </setting>
            <setting name="SortOrder" serializeAs="String">
                <value>-1</value>
            </setting>
        </uk.org.riseley.puttySessionManager.Properties.Settings>
    </userSettings>
</configuration>